__pycache__
*.pyc
*.pyo
*.pyd
db.sqlite3
*.log
*.pot
*.mo
*.pdf
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tiff
*.webp
*.svg
*.woff
*.woff2
*.eot
*.ttf
*.otf
*.swp
*.swo
*.swn
*.swo
*.bak
*.sql
*.zip
*.rar
*.tar.gz
*.tar.bz2
*.gz
*.bz2
*.xz
*.7z
*.tgz
*.egg-info
*.dockerignore
*.md
